@import '~styles/config';

.header {
  display: block;

  background-color: #fff;
}

.container {
  @include container;
}

.content {
  display: flex;
  align-items: center;

  padding: $gutter 0;
}

.logo {
  font-size: 21.8px;
  font-weight: bold;

  text-decoration: none;
  letter-spacing: 0.1px;

  color: rgb(28, 41, 105);
}
